name: Security CI (Terraform + OPA)

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  terraform-security:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: terraform/envs/demo

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::767828729088:role/github-actions-terraform-role
          aws-region: us-east-1

      - name: Terraform fmt check
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init

      - name: Terraform validate
        run: terraform validate

      - name: Run gitleaks (secrets scan)
        uses: gitleaks/gitleaks-action@v2
        

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Checkov
        run: |
          python -m pip install --upgrade pip
          pip install checkov

      - name: IaC scan (Checkov)
        run: |
          checkov -d terraform \
            --framework terraform \
            --skip-check CKV_AWS_144,CKV2_AWS_62,CKV2_AWS_11,CKV_AWS_356,CKV_AWS_111,CKV_AWS_109

      - name: Debug workspace paths
        shell: bash
        run: |
          echo "PWD=$(pwd)"
          ls -la
          find . -maxdepth 3 -type d -print | sed 's|^\./||' | sort
          ls -la terraform || true
          ls -la terraform/envs || true
          ls -la terraform/envs/demo || true

      - name: Terraform plan
        run: terraform -chdir=terraform/envs/demo plan -out=tfplan

      - name: Export plan JSON
        run: terraform -chdir=terraform/envs/demo show -json tfplan > tfplan.json

      - name: Setup Conftest (OPA)
        uses: instrumenta/conftest-action@v0.4.0
        

      - name: OPA Conftest evaluate Terraform plan
        run: conftest test terraform/envs/demo/tfplan.json -p policies/terraform

      - name: Upload evidence artifacts
        uses: actions/upload-artifact@v4
        with:
          name: compliance-evidence
          path: |
            terraform/envs/demo/tfplan.json
            terraform/envs/demo/tfplan
